PORT=3001

DB_SERVER=localhost
DB_DATABASE=RetroGarage
DB_USER=TU_USUARIO_SQL
DB_PASSWORD=TU_CONTRASENA_SQL
DB_PORT=1433

PAYPAL_MODE=sandbox
PAYPAL_CLIENT_ID=TU_CLIENT_ID_SANDBOX
PAYPAL_CLIENT_SECRET=TU_SECRET_SANDBOX
PAYPAL_CURRENCY=USD
PAYPAL_CRC_PER_USD=500
PAYPAL_RETURN_URL=http://localhost:8081/pagos/paypal-retorno
PAYPAL_CANCEL_URL=http://localhost:8081/pagos/paypal-retorno
# Solo para pruebas negativas. Dejar vacío normalmente.
PAYPAL_SANDBOX_MOCK_ERROR=
