USE [master]
GO
/****** Objeto: Database [RetroGarage] Fecha de script: 27/7/2026 23:24:37 ******/
CREATE DATABASE [RetroGarage]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'RetroGarage', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\RetroGarage.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'RetroGarage_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\RetroGarage_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [RetroGarage].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [RetroGarage]
GO
/****** Objeto: User [retro_user] Fecha de script: 27/7/2026 23:24:38 ******/
CREATE USER [retro_user] FOR LOGIN [retro_user] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [retro_user]
GO
/****** Objeto: Table [dbo].[auditoria] Fecha de script: 27/7/2026 23:24:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[auditoria](
	[id_auditoria] [int] IDENTITY(1,1) NOT NULL,
	[id_usuario] [int] NOT NULL,
	[movimiento] [varchar](300) NOT NULL,
	[fecha_movimiento] [datetime] NULL,
 CONSTRAINT [PK_auditoria] PRIMARY KEY CLUSTERED 
(
	[id_auditoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[autos] Fecha de script: 27/7/2026 23:24:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[autos](
	[id_auto] [int] IDENTITY(1,1) NOT NULL,
	[identificacion] [nvarchar](255) NULL,
	[marca] [varchar](100) NULL,
	[modelo] [varchar](100) NULL,
	[anio] [varchar](100) NULL,
	[placa] [varchar](100) NULL
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[cantones] Fecha de script: 27/7/2026 23:24:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cantones](
	[id_canton] [int] IDENTITY(1,1) NOT NULL,
	[id_provincia] [int] NOT NULL,
	[descripcion] [nvarchar](100) NOT NULL,
	[activo] [bit] NOT NULL,
 CONSTRAINT [PK_cantones] PRIMARY KEY CLUSTERED 
(
	[id_canton] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[categorias] Fecha de script: 27/7/2026 23:24:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[categorias](
	[id_categoria] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](100) NOT NULL,
	[tipo] [nvarchar](20) NOT NULL,
	[descripcion] [nvarchar](300) NULL,
	[activo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_categoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[citas] Fecha de script: 27/7/2026 23:24:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[citas](
	[id_cita] [int] IDENTITY(1,1) NOT NULL,
	[id_cliente] [int] NOT NULL,
	[id_servicio] [int] NOT NULL,
	[marca_vehiculo] [nvarchar](100) NOT NULL,
	[modelo_vehiculo] [nvarchar](100) NOT NULL,
	[anio_vehiculo] [int] NULL,
	[fecha] [date] NOT NULL,
	[hora] [time](7) NOT NULL,
	[descripcion] [nvarchar](500) NULL,
	[estado] [nvarchar](20) NOT NULL,
	[fecha_registro] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_cita] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[clientes] Fecha de script: 27/7/2026 23:24:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[clientes](
	[id_cliente] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](100) NOT NULL,
	[apellido] [nvarchar](100) NOT NULL,
	[identificacion] [nvarchar](255) NOT NULL,
	[fecha_nacimiento] [date] NULL,
	[correo] [nvarchar](255) NULL,
	[telefono] [nvarchar](255) NOT NULL,
	[id_distrito] [int] NULL,
	[notas] [nvarchar](500) NULL,
	[activo] [bit] NOT NULL,
	[fecha_registro] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_cliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[cuentas_sinpe_simuladas] Fecha de script: 27/7/2026 23:24:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cuentas_sinpe_simuladas](
	[telefono] [char](8) NOT NULL,
	[titular] [nvarchar](150) NOT NULL,
	[banco] [nvarchar](100) NOT NULL,
	[saldo] [decimal](12, 2) NOT NULL,
	[activo] [bit] NOT NULL,
	[fecha_registro] [datetime2](0) NOT NULL,
 CONSTRAINT [PK_cuentas_sinpe_simuladas] PRIMARY KEY CLUSTERED 
(
	[telefono] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[detalles_orden_paypal] Fecha de script: 27/7/2026 23:24:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[detalles_orden_paypal](
	[id_detalle] [bigint] IDENTITY(1,1) NOT NULL,
	[id_orden] [bigint] NOT NULL,
	[id_producto] [int] NOT NULL,
	[cantidad] [int] NOT NULL,
	[precio_unitario_crc] [decimal](10, 2) NOT NULL,
	[subtotal_crc]  AS (CONVERT([decimal](12,2),[cantidad]*[precio_unitario_crc])) PERSISTED,
 CONSTRAINT [PK_detalles_orden_paypal] PRIMARY KEY CLUSTERED 
(
	[id_detalle] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[detalles_pago] Fecha de script: 27/7/2026 23:24:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[detalles_pago](
	[id_detalle] [bigint] IDENTITY(1,1) NOT NULL,
	[id_pago] [int] NOT NULL,
	[id_producto] [int] NOT NULL,
	[cantidad] [int] NOT NULL,
	[precio_unitario] [decimal](10, 2) NOT NULL,
	[subtotal]  AS (CONVERT([decimal](12,2),[cantidad]*[precio_unitario])) PERSISTED,
 CONSTRAINT [PK_detalles_pago] PRIMARY KEY CLUSTERED 
(
	[id_detalle] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[distritos] Fecha de script: 27/7/2026 23:24:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[distritos](
	[id_distrito] [int] IDENTITY(1,1) NOT NULL,
	[id_canton] [int] NOT NULL,
	[descripcion] [nvarchar](100) NOT NULL,
	[activo] [bit] NOT NULL,
 CONSTRAINT [PK_distritos] PRIMARY KEY CLUSTERED 
(
	[id_distrito] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[metodos_pago] Fecha de script: 27/7/2026 23:24:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[metodos_pago](
	[id_metodo] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](50) NOT NULL,
	[requiere_referencia] [bit] NOT NULL,
	[activo] [bit] NOT NULL,
	[codigo] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_metodo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[movimientos_inventario] Fecha de script: 27/7/2026 23:24:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[movimientos_inventario](
	[id_movimiento] [int] IDENTITY(1,1) NOT NULL,
	[id_producto] [int] NOT NULL,
	[id_cita] [int] NULL,
	[id_usuario] [int] NOT NULL,
	[tipo] [nvarchar](20) NOT NULL,
	[cantidad] [int] NOT NULL,
	[stock_anterior] [int] NOT NULL,
	[stock_resultante] [int] NOT NULL,
	[motivo] [nvarchar](300) NULL,
	[fecha] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_movimiento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[ordenes_paypal] Fecha de script: 27/7/2026 23:24:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ordenes_paypal](
	[id_orden] [bigint] IDENTITY(1,1) NOT NULL,
	[referencia_local] [uniqueidentifier] NOT NULL,
	[paypal_order_id] [nvarchar](64) NULL,
	[paypal_capture_id] [nvarchar](64) NULL,
	[id_pago] [int] NULL,
	[id_usuario] [int] NOT NULL,
	[id_cita] [int] NULL,
	[id_metodo] [int] NOT NULL,
	[monto_servicio_crc] [decimal](12, 2) NOT NULL,
	[monto_crc] [decimal](12, 2) NOT NULL,
	[tasa_crc_usd] [decimal](12, 4) NOT NULL,
	[monto_usd] [decimal](12, 2) NOT NULL,
	[moneda] [char](3) NOT NULL,
	[observaciones] [nvarchar](500) NULL,
	[estado] [nvarchar](20) NOT NULL,
	[fecha_creacion] [datetime2](0) NOT NULL,
	[fecha_actualizacion] [datetime2](0) NOT NULL,
	[fecha_captura] [datetime2](0) NULL,
 CONSTRAINT [PK_ordenes_paypal] PRIMARY KEY CLUSTERED 
(
	[id_orden] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[pagos] Fecha de script: 27/7/2026 23:24:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pagos](
	[id_pago] [int] IDENTITY(1,1) NOT NULL,
	[numero_factura] [nvarchar](20) NOT NULL,
	[id_cita] [int] NULL,
	[id_usuario] [int] NOT NULL,
	[id_metodo] [int] NOT NULL,
	[monto] [decimal](10, 2) NOT NULL,
	[monto_recibido] [decimal](10, 2) NULL,
	[cambio] [decimal](10, 2) NULL,
	[numero_referencia] [nvarchar](100) NULL,
	[banco] [nvarchar](100) NULL,
	[observaciones] [nvarchar](500) NULL,
	[estado_pago] [nvarchar](20) NOT NULL,
	[fecha_pago] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_pago] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[paises] Fecha de script: 27/7/2026 23:24:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[paises](
	[id_pais] [int] IDENTITY(1,1) NOT NULL,
	[descripcion] [nvarchar](100) NOT NULL,
	[activo] [bit] NOT NULL,
 CONSTRAINT [PK_paises] PRIMARY KEY CLUSTERED 
(
	[id_pais] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[productos] Fecha de script: 27/7/2026 23:24:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[productos](
	[id_producto] [int] IDENTITY(1,1) NOT NULL,
	[id_categoria] [int] NOT NULL,
	[nombre] [nvarchar](150) NOT NULL,
	[codigo_item] [nvarchar](50) NOT NULL,
	[precio_venta] [decimal](10, 2) NOT NULL,
	[precio_costo] [decimal](10, 2) NOT NULL,
	[stock_actual] [int] NOT NULL,
	[stock_minimo] [int] NOT NULL,
	[unidad_medida] [nvarchar](20) NOT NULL,
	[proveedor] [nvarchar](150) NULL,
	[activo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_producto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[provincias] Fecha de script: 27/7/2026 23:24:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[provincias](
	[id_provincia] [int] IDENTITY(1,1) NOT NULL,
	[id_pais] [int] NOT NULL,
	[descripcion] [nvarchar](100) NOT NULL,
	[activo] [bit] NOT NULL,
 CONSTRAINT [PK_provincias] PRIMARY KEY CLUSTERED 
(
	[id_provincia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[recuperacion_contrasena] Fecha de script: 27/7/2026 23:24:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[recuperacion_contrasena](
	[id_recuperacion] [int] IDENTITY(1,1) NOT NULL,
	[id_usuario] [int] NOT NULL,
	[codigo_hash] [nvarchar](255) NOT NULL,
	[fecha_expiracion] [datetime] NOT NULL,
	[usado] [bit] NOT NULL,
	[ip_solicitud] [nvarchar](50) NULL,
	[fecha_solicitud] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_recuperacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[RespuestaSeguridad] Fecha de script: 27/7/2026 23:24:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RespuestaSeguridad](
	[nombre_usuario] [nvarchar](50) NOT NULL,
	[Respuesta1] [varchar](50) NULL,
	[Respuesta2] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[nombre_usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[roles] Fecha de script: 27/7/2026 23:24:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[roles](
	[id_rol] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](50) NOT NULL,
	[descripcion] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_rol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[servicios] Fecha de script: 27/7/2026 23:24:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[servicios](
	[id_servicio] [int] IDENTITY(1,1) NOT NULL,
	[id_categoria] [int] NOT NULL,
	[nombre] [nvarchar](150) NOT NULL,
	[precio_base] [decimal](10, 2) NOT NULL,
	[activo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_servicio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[sesiones_usuario] Fecha de script: 27/7/2026 23:24:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sesiones_usuario](
	[id_sesion] [int] IDENTITY(1,1) NOT NULL,
	[id_usuario] [int] NOT NULL,
	[token_sesion] [nvarchar](500) NOT NULL,
	[ip_origen] [nvarchar](50) NULL,
	[fecha_inicio] [datetime] NOT NULL,
	[fecha_expiracion] [datetime] NOT NULL,
	[activa] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_sesion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[socios_gruas] Fecha de script: 27/7/2026 23:24:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[socios_gruas](
	[id_grua] [int] IDENTITY(1,1) NOT NULL,
	[empresa] [varchar](100) NOT NULL,
	[placa] [varchar](20) NOT NULL,
	[tipo_grua] [varchar](50) NOT NULL,
	[provincia] [varchar](50) NOT NULL,
	[canton] [varchar](50) NOT NULL,
	[telefono] [varchar](20) NOT NULL,
	[capacidad_toneladas] [decimal](5, 2) NOT NULL,
	[tarifa_base] [decimal](12, 2) NOT NULL,
	[tiempo_estimado_minutos] [int] NOT NULL,
	[disponible] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_grua] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[socios_polizas] Fecha de script: 27/7/2026 23:24:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[socios_polizas](
	[id_poliza] [int] IDENTITY(1,1) NOT NULL,
	[aseguradora] [varchar](100) NOT NULL,
	[numero_poliza] [varchar](30) NOT NULL,
	[placa] [varchar](20) NOT NULL,
	[identificacion_cliente] [varchar](20) NOT NULL,
	[tipo_cobertura] [varchar](100) NOT NULL,
	[deducible] [decimal](12, 2) NOT NULL,
	[fecha_inicio] [date] NOT NULL,
	[fecha_vencimiento] [date] NOT NULL,
	[activa] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_poliza] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[socios_repuestos] Fecha de script: 27/7/2026 23:24:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[socios_repuestos](
	[id_repuesto] [int] IDENTITY(1,1) NOT NULL,
	[proveedor] [varchar](100) NOT NULL,
	[codigo] [varchar](30) NOT NULL,
	[nombre] [varchar](100) NOT NULL,
	[marca] [varchar](50) NULL,
	[precio] [decimal](12, 2) NOT NULL,
	[existencia] [int] NOT NULL,
	[tiempo_entrega_dias] [int] NOT NULL,
	[activo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_repuesto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[socios_vehiculos_alquiler] Fecha de script: 27/7/2026 23:24:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[socios_vehiculos_alquiler](
	[id_vehiculo] [int] IDENTITY(1,1) NOT NULL,
	[empresa] [varchar](100) NOT NULL,
	[placa] [varchar](20) NOT NULL,
	[marca] [varchar](50) NOT NULL,
	[modelo] [varchar](50) NOT NULL,
	[anio] [int] NOT NULL,
	[categoria] [varchar](30) NOT NULL,
	[transmision] [varchar](20) NOT NULL,
	[cantidad_pasajeros] [int] NOT NULL,
	[tarifa_diaria] [decimal](12, 2) NOT NULL,
	[deposito] [decimal](12, 2) NOT NULL,
	[disponible] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_vehiculo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[tarjetas_simuladas] Fecha de script: 27/7/2026 23:24:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tarjetas_simuladas](
	[id_tarjeta] [int] IDENTITY(1,1) NOT NULL,
	[numero_hash] [varbinary](32) NOT NULL,
	[cvv_hash] [varbinary](32) NOT NULL,
	[marca] [nvarchar](20) NOT NULL,
	[ultimos_cuatro] [char](4) NOT NULL,
	[titular] [nvarchar](150) NOT NULL,
	[banco] [nvarchar](100) NOT NULL,
	[fecha_vencimiento] [date] NOT NULL,
	[saldo_inicial] [decimal](12, 2) NOT NULL,
	[saldo] [decimal](12, 2) NOT NULL,
	[activa] [bit] NOT NULL,
	[fecha_registro] [datetime2](0) NOT NULL,
 CONSTRAINT [PK_tarjetas_simuladas] PRIMARY KEY CLUSTERED 
(
	[id_tarjeta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[transacciones_pasarela] Fecha de script: 27/7/2026 23:24:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[transacciones_pasarela](
	[id_transaccion] [bigint] IDENTITY(1,1) NOT NULL,
	[id_pago] [int] NULL,
	[tipo] [nvarchar](10) NOT NULL,
	[estado] [nvarchar](15) NOT NULL,
	[monto] [decimal](12, 2) NOT NULL,
	[codigo_autorizacion] [nvarchar](64) NULL,
	[marca_tarjeta] [nvarchar](20) NULL,
	[ultimos_cuatro] [char](4) NULL,
	[telefono_sinpe] [char](8) NULL,
	[banco] [nvarchar](100) NULL,
	[mensaje] [nvarchar](250) NOT NULL,
	[fecha_transaccion] [datetime2](0) NOT NULL,
	[id_tarjeta_simulada] [int] NULL,
	[paypal_order_id] [nvarchar](64) NULL,
	[moneda_externa] [char](3) NULL,
	[monto_externo] [decimal](12, 2) NULL,
 CONSTRAINT [PK_transacciones_pasarela] PRIMARY KEY CLUSTERED 
(
	[id_transaccion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[TSE] Fecha de script: 27/7/2026 23:24:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TSE](
	[id_persona] [int] IDENTITY(1,1) NOT NULL,
	[identificacion] [int] NOT NULL,
	[Nombre] [varchar](50) NULL,
	[Apellido] [varchar](50) NULL,
	[fecha_nacimiento] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[identificacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[usuarios] Fecha de script: 27/7/2026 23:24:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[usuarios](
	[id_usuario] [int] IDENTITY(1,1) NOT NULL,
	[id_rol] [int] NULL,
	[nombre_completo] [nvarchar](100) NOT NULL,
	[correo] [nvarchar](255) NOT NULL,
	[telefono] [nvarchar](255) NULL,
	[contrasena_hash] [nvarchar](255) NOT NULL,
	[activo] [bit] NOT NULL,
	[fecha_creacion] [datetime] NOT NULL,
	[ultimo_acceso] [datetime] NULL,
	[nombre_usuario] [nvarchar](50) NULL,
	[otp_secret] [nvarchar](100) NULL,
	[otp_habilitado] [bit] NOT NULL,
	[otp_retro_secret] [nvarchar](100) NULL,
	[otp_retro_habilitado] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[auditoria] ON 

INSERT [dbo].[auditoria] ([id_auditoria], [id_usuario], [movimiento], [fecha_movimiento]) VALUES (1, 1, N'El administrador registró recurso (id_categoria: 1, nombre: Filtro de aceite, codigo_item: REP-001, precio_venta: 6000, precio_costo: 4200, stock_actual: 40, stock_minimo: 7, unidad_medida: Unidades, proveedor: Repuestos del Valle)', CAST(N'2026-07-22T21:46:21.477' AS DateTime))
INSERT [dbo].[auditoria] ([id_auditoria], [id_usuario], [movimiento], [fecha_movimiento]) VALUES (2, 1, N'El administrador registró recurso (nombre: Pedro Sebastian, apellido: Navarro Marino, identificacion: [protegido], fecha_nacimiento: 2006-06-16, correo: [protegido], telefono: [protegido], id_distrito: 11, notas: Cliente Nuevo)', CAST(N'2026-07-23T14:31:31.263' AS DateTime))
INSERT [dbo].[auditoria] ([id_auditoria], [id_usuario], [movimiento], [fecha_movimiento]) VALUES (3, 1, N'El administrador registró recurso (identificacion: [protegido], marca: Toyota, modelo: Corolla, anio: 2006, placa: ABC123)', CAST(N'2026-07-23T14:31:31.273' AS DateTime))
SET IDENTITY_INSERT [dbo].[auditoria] OFF
GO
SET IDENTITY_INSERT [dbo].[autos] ON 

INSERT [dbo].[autos] ([id_auto], [identificacion], [marca], [modelo], [anio], [placa]) VALUES (1002, N'enc:v1:EQjDhjnE+yrAPh+9HzyZ/K6DWIFZUpDm20PXZdkfQSY4Vj9EHQ==', N'Toyota', N'Corolla', N'2006', N'ABC123')
SET IDENTITY_INSERT [dbo].[autos] OFF
GO
SET IDENTITY_INSERT [dbo].[cantones] ON 

INSERT [dbo].[cantones] ([id_canton], [id_provincia], [descripcion], [activo]) VALUES (1, 1, N'San José', 1)
INSERT [dbo].[cantones] ([id_canton], [id_provincia], [descripcion], [activo]) VALUES (2, 1, N'Escazú', 1)
INSERT [dbo].[cantones] ([id_canton], [id_provincia], [descripcion], [activo]) VALUES (3, 2, N'Alajuela', 1)
SET IDENTITY_INSERT [dbo].[cantones] OFF
GO
SET IDENTITY_INSERT [dbo].[categorias] ON 

INSERT [dbo].[categorias] ([id_categoria], [nombre], [tipo], [descripcion], [activo]) VALUES (1, N'Aceites y Lubricantes', N'PRODUCTO', N'Aceites de motor, transmisión y lubricantes en general', 1)
INSERT [dbo].[categorias] ([id_categoria], [nombre], [tipo], [descripcion], [activo]) VALUES (2, N'Filtros', N'PRODUCTO', N'Filtros de aceite, aire, combustible y cabina', 1)
INSERT [dbo].[categorias] ([id_categoria], [nombre], [tipo], [descripcion], [activo]) VALUES (3, N'Frenos', N'PRODUCTO', N'Pastillas, discos y líquido de frenos', 1)
SET IDENTITY_INSERT [dbo].[categorias] OFF
GO
SET IDENTITY_INSERT [dbo].[citas] ON 

INSERT [dbo].[citas] ([id_cita], [id_cliente], [id_servicio], [marca_vehiculo], [modelo_vehiculo], [anio_vehiculo], [fecha], [hora], [descripcion], [estado], [fecha_registro]) VALUES (1, 1, 7, N'Toyota', N'Corolla', 2006, CAST(N'2026-07-30' AS Date), CAST(N'21:00:00' AS Time), N'...', N'COMPLETADA', CAST(N'2026-07-27T22:04:18.377' AS DateTime))
INSERT [dbo].[citas] ([id_cita], [id_cliente], [id_servicio], [marca_vehiculo], [modelo_vehiculo], [anio_vehiculo], [fecha], [hora], [descripcion], [estado], [fecha_registro]) VALUES (2, 1, 7, N'Toyota', N'Corolla', 2006, CAST(N'2026-07-30' AS Date), CAST(N'13:00:00' AS Time), NULL, N'COMPLETADA', CAST(N'2026-07-27T22:05:49.013' AS DateTime))
SET IDENTITY_INSERT [dbo].[citas] OFF
GO
SET IDENTITY_INSERT [dbo].[clientes] ON 

INSERT [dbo].[clientes] ([id_cliente], [nombre], [apellido], [identificacion], [fecha_nacimiento], [correo], [telefono], [id_distrito], [notas], [activo], [fecha_registro]) VALUES (1, N'Pedro Sebastian', N'Navarro Marino', N'enc:v1:EQjDhjnE+yrAPh+9HzyZ/K6DWIFZUpDm20PXZdkfQSY4Vj9EHQ==', CAST(N'2006-06-16' AS Date), N'enc:v1:D10g61jwOjIDa7LYkoALpayGyQ1bJ7zlwaz0KhGxMdW3koSfbOvGKYsFtIZ0IthSyfF4IkNmP5AnIQ==', N'enc:v1:vZ0alwU8o+bFJd72tMHlPETUC3tytZFAvjI6h2WgfVqVp1Ud', 11, N'Cliente Nuevo', 1, CAST(N'2026-07-23T14:31:31.257' AS DateTime))
SET IDENTITY_INSERT [dbo].[clientes] OFF
GO
INSERT [dbo].[cuentas_sinpe_simuladas] ([telefono], [titular], [banco], [saldo], [activo], [fecha_registro]) VALUES (N'60002222', N'Cliente SINPE Demo 3', N'BAC Credomatic', CAST(1500000.00 AS Decimal(12, 2)), 1, CAST(N'2026-07-27T21:33:59.0000000' AS DateTime2))
INSERT [dbo].[cuentas_sinpe_simuladas] ([telefono], [titular], [banco], [saldo], [activo], [fecha_registro]) VALUES (N'70001111', N'Cliente SINPE Demo 2', N'Banco Nacional', CAST(2480000.00 AS Decimal(12, 2)), 1, CAST(N'2026-07-27T21:33:59.0000000' AS DateTime2))
INSERT [dbo].[cuentas_sinpe_simuladas] ([telefono], [titular], [banco], [saldo], [activo], [fecha_registro]) VALUES (N'88887777', N'Cliente SINPE Demo', N'Banco de Costa Rica', CAST(4688000.00 AS Decimal(12, 2)), 1, CAST(N'2026-07-27T21:33:59.0000000' AS DateTime2))
GO
SET IDENTITY_INSERT [dbo].[detalles_orden_paypal] ON 

INSERT [dbo].[detalles_orden_paypal] ([id_detalle], [id_orden], [id_producto], [cantidad], [precio_unitario_crc]) VALUES (1, 1, 1, 1, CAST(18500.00 AS Decimal(10, 2)))
INSERT [dbo].[detalles_orden_paypal] ([id_detalle], [id_orden], [id_producto], [cantidad], [precio_unitario_crc]) VALUES (2, 2, 10, 16, CAST(6000.00 AS Decimal(10, 2)))
INSERT [dbo].[detalles_orden_paypal] ([id_detalle], [id_orden], [id_producto], [cantidad], [precio_unitario_crc]) VALUES (3, 3, 3, 40, CAST(6500.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[detalles_orden_paypal] OFF
GO
SET IDENTITY_INSERT [dbo].[detalles_pago] ON 

INSERT [dbo].[detalles_pago] ([id_detalle], [id_pago], [id_producto], [cantidad], [precio_unitario]) VALUES (2, 2, 1, 2, CAST(18500.00 AS Decimal(10, 2)))
INSERT [dbo].[detalles_pago] ([id_detalle], [id_pago], [id_producto], [cantidad], [precio_unitario]) VALUES (3, 3, 10, 24, CAST(6000.00 AS Decimal(10, 2)))
INSERT [dbo].[detalles_pago] ([id_detalle], [id_pago], [id_producto], [cantidad], [precio_unitario]) VALUES (4, 3, 2, 1, CAST(15000.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[detalles_pago] OFF
GO
SET IDENTITY_INSERT [dbo].[distritos] ON 

INSERT [dbo].[distritos] ([id_distrito], [id_canton], [descripcion], [activo]) VALUES (1, 1, N'Carmen', 1)
INSERT [dbo].[distritos] ([id_distrito], [id_canton], [descripcion], [activo]) VALUES (2, 1, N'Merced', 1)
INSERT [dbo].[distritos] ([id_distrito], [id_canton], [descripcion], [activo]) VALUES (3, 2, N'Escazú', 1)
SET IDENTITY_INSERT [dbo].[distritos] OFF
GO
SET IDENTITY_INSERT [dbo].[metodos_pago] ON 

INSERT [dbo].[metodos_pago] ([id_metodo], [nombre], [requiere_referencia], [activo], [codigo]) VALUES (1, N'Tarjeta', 1, 1, N'TARJETA')
INSERT [dbo].[metodos_pago] ([id_metodo], [nombre], [requiere_referencia], [activo], [codigo]) VALUES (2, N'SINPE Móvil', 1, 1, N'SINPE')
INSERT [dbo].[metodos_pago] ([id_metodo], [nombre], [requiere_referencia], [activo], [codigo]) VALUES (3, N'PayPal', 1, 1, N'PAYPAL')
SET IDENTITY_INSERT [dbo].[metodos_pago] OFF
GO
SET IDENTITY_INSERT [dbo].[movimientos_inventario] ON 

INSERT [dbo].[movimientos_inventario] ([id_movimiento], [id_producto], [id_cita], [id_usuario], [tipo], [cantidad], [stock_anterior], [stock_resultante], [motivo], [fecha]) VALUES (2, 1, NULL, 1, N'salida', 2, 40, 38, N'Venta - FACT-20260727-8A1280', CAST(N'2026-07-27T21:49:40.587' AS DateTime))
INSERT [dbo].[movimientos_inventario] ([id_movimiento], [id_producto], [id_cita], [id_usuario], [tipo], [cantidad], [stock_anterior], [stock_resultante], [motivo], [fecha]) VALUES (3, 10, NULL, 1, N'salida', 24, 40, 16, N'Venta - FACT-20260727-88FF7A', CAST(N'2026-07-27T21:50:22.743' AS DateTime))
INSERT [dbo].[movimientos_inventario] ([id_movimiento], [id_producto], [id_cita], [id_usuario], [tipo], [cantidad], [stock_anterior], [stock_resultante], [motivo], [fecha]) VALUES (4, 2, NULL, 1, N'salida', 1, 25, 24, N'Venta - FACT-20260727-88FF7A', CAST(N'2026-07-27T21:50:22.747' AS DateTime))
SET IDENTITY_INSERT [dbo].[movimientos_inventario] OFF
GO
SET IDENTITY_INSERT [dbo].[ordenes_paypal] ON 

SET IDENTITY_INSERT [dbo].[ordenes_paypal] OFF
GO
SET IDENTITY_INSERT [dbo].[pagos] ON 

INSERT [dbo].[pagos] ([id_pago], [numero_factura], [id_cita], [id_usuario], [id_metodo], [monto], [monto_recibido], [cambio], [numero_referencia], [banco], [observaciones], [estado_pago], [fecha_pago]) VALUES (2, N'FACT-20260727-8A1280', NULL, 1, 1, CAST(37000.00 AS Decimal(10, 2)), NULL, NULL, N'CARD-MS44ABTO-382A15', N'Banco Simulado Retro', N'Prueba1', N'COMPLETADO', CAST(N'2026-07-27T21:49:40.580' AS DateTime))
INSERT [dbo].[pagos] ([id_pago], [numero_factura], [id_cita], [id_usuario], [id_metodo], [monto], [monto_recibido], [cambio], [numero_referencia], [banco], [observaciones], [estado_pago], [fecha_pago]) VALUES (3, N'FACT-20260727-88FF7A', NULL, 1, 1, CAST(159000.00 AS Decimal(10, 2)), NULL, NULL, N'CARD-MS44B8CS-53AA39', N'Banco Simulado Retro', NULL, N'COMPLETADO', CAST(N'2026-07-27T21:50:22.737' AS DateTime))
INSERT [dbo].[pagos] ([id_pago], [numero_factura], [id_cita], [id_usuario], [id_metodo], [monto], [monto_recibido], [cambio], [numero_referencia], [banco], [observaciones], [estado_pago], [fecha_pago]) VALUES (4, N'FACT-20260727-E922A7', NULL, 1, 2, CAST(20000.00 AS Decimal(10, 2)), NULL, NULL, N'SINPE-MS44CCIL-3C1078', N'Banco de Costa Rica', N'Prueba1.', N'COMPLETADO', CAST(N'2026-07-27T21:51:14.787' AS DateTime))
SET IDENTITY_INSERT [dbo].[pagos] OFF
GO
SET IDENTITY_INSERT [dbo].[paises] ON 

INSERT [dbo].[paises] ([id_pais], [descripcion], [activo]) VALUES (1, N'Costa Rica', 1)
INSERT [dbo].[paises] ([id_pais], [descripcion], [activo]) VALUES (2, N'Ecuador', 1)
INSERT [dbo].[paises] ([id_pais], [descripcion], [activo]) VALUES (3, N'Chile', 1)
SET IDENTITY_INSERT [dbo].[paises] OFF
GO
SET IDENTITY_INSERT [dbo].[productos] ON 

INSERT [dbo].[productos] ([id_producto], [id_categoria], [nombre], [codigo_item], [precio_venta], [precio_costo], [stock_actual], [stock_minimo], [unidad_medida], [proveedor], [activo]) VALUES (1, 1, N'Aceite de Motor 5W-30 Sintético', N'ACE-5W30-001', CAST(18500.00 AS Decimal(10, 2)), CAST(12000.00 AS Decimal(10, 2)), 25, 10, N'Litros', N'Distribuidora Lubricantes CR', 1)
INSERT [dbo].[productos] ([id_producto], [id_categoria], [nombre], [codigo_item], [precio_venta], [precio_costo], [stock_actual], [stock_minimo], [unidad_medida], [proveedor], [activo]) VALUES (2, 1, N'Aceite de Transmisión ATF', N'ACE-ATF-002', CAST(15000.00 AS Decimal(10, 2)), CAST(9500.00 AS Decimal(10, 2)), 0, 5, N'Litros', N'Distribuidora Lubricantes CR', 1)
INSERT [dbo].[productos] ([id_producto], [id_categoria], [nombre], [codigo_item], [precio_venta], [precio_costo], [stock_actual], [stock_minimo], [unidad_medida], [proveedor], [activo]) VALUES (3, 2, N'Filtro de Aceite Universal', N'FIL-ACE-001', CAST(6500.00 AS Decimal(10, 2)), CAST(3800.00 AS Decimal(10, 2)), 20, 15, N'Unidades', N'Repuestos Central', 1)
SET IDENTITY_INSERT [dbo].[productos] OFF
GO
SET IDENTITY_INSERT [dbo].[provincias] ON 

INSERT [dbo].[provincias] ([id_provincia], [id_pais], [descripcion], [activo]) VALUES (1, 1, N'San José', 1)
INSERT [dbo].[provincias] ([id_provincia], [id_pais], [descripcion], [activo]) VALUES (2, 1, N'Alajuela', 1)
INSERT [dbo].[provincias] ([id_provincia], [id_pais], [descripcion], [activo]) VALUES (3, 1, N'Cartago', 1)
SET IDENTITY_INSERT [dbo].[provincias] OFF
GO
INSERT [dbo].[RespuestaSeguridad] ([nombre_usuario], [Respuesta1], [Respuesta2]) VALUES (N'SNavarro', N'Lana', N'Cartago')
GO
SET IDENTITY_INSERT [dbo].[roles] ON 

INSERT [dbo].[roles] ([id_rol], [nombre], [descripcion]) VALUES (1, N'Administrador', N'Acceso total al sistema: usuarios, reportes y configuración')
INSERT [dbo].[roles] ([id_rol], [nombre], [descripcion]) VALUES (2, N'Recepcionista', N'Gestiona clientes, citas y pagos')
INSERT [dbo].[roles] ([id_rol], [nombre], [descripcion]) VALUES (3, N'Mecánico', N'Ejecuta los servicios y consulta el inventario')
SET IDENTITY_INSERT [dbo].[roles] OFF
GO
SET IDENTITY_INSERT [dbo].[servicios] ON 

INSERT [dbo].[servicios] ([id_servicio], [id_categoria], [nombre], [precio_base], [activo]) VALUES (1, 5, N'Cambio de Aceite y Filtro', CAST(25000.00 AS Decimal(10, 2)), 1)
INSERT [dbo].[servicios] ([id_servicio], [id_categoria], [nombre], [precio_base], [activo]) VALUES (2, 5, N'Revisión General (Check-up)', CAST(20000.00 AS Decimal(10, 2)), 1)
INSERT [dbo].[servicios] ([id_servicio], [id_categoria], [nombre], [precio_base], [activo]) VALUES (3, 6, N'Escaneo Computarizado', CAST(15000.00 AS Decimal(10, 2)), 1)
SET IDENTITY_INSERT [dbo].[servicios] OFF
GO
SET IDENTITY_INSERT [dbo].[socios_gruas] ON 

INSERT [dbo].[socios_gruas] ([id_grua], [empresa], [placa], [tipo_grua], [provincia], [canton], [telefono], [capacidad_toneladas], [tarifa_base], [tiempo_estimado_minutos], [disponible]) VALUES (1, N'Grúas Rápidas CR', N'GRU001', N'Plataforma', N'San Jose', N'San Jose', N'2222-1001', CAST(3.50 AS Decimal(5, 2)), CAST(35000.00 AS Decimal(12, 2)), 20, 1)
INSERT [dbo].[socios_gruas] ([id_grua], [empresa], [placa], [tipo_grua], [provincia], [canton], [telefono], [capacidad_toneladas], [tarifa_base], [tiempo_estimado_minutos], [disponible]) VALUES (2, N'Asistencia Vial Central', N'GRU002', N'Arrastre', N'San Jose', N'Escazu', N'2222-2002', CAST(2.50 AS Decimal(5, 2)), CAST(28000.00 AS Decimal(12, 2)), 35, 1)
INSERT [dbo].[socios_gruas] ([id_grua], [empresa], [placa], [tipo_grua], [provincia], [canton], [telefono], [capacidad_toneladas], [tarifa_base], [tiempo_estimado_minutos], [disponible]) VALUES (3, N'Grúas del Valle', N'GRU003', N'Plataforma', N'Alajuela', N'Alajuela', N'2444-3003', CAST(4.00 AS Decimal(5, 2)), CAST(40000.00 AS Decimal(12, 2)), 25, 1)
SET IDENTITY_INSERT [dbo].[socios_gruas] OFF
GO
SET IDENTITY_INSERT [dbo].[socios_polizas] ON 

INSERT [dbo].[socios_polizas] ([id_poliza], [aseguradora], [numero_poliza], [placa], [identificacion_cliente], [tipo_cobertura], [deducible], [fecha_inicio], [fecha_vencimiento], [activa]) VALUES (1, N'Seguros Nacionales', N'POL-2026-001', N'ABC123', N'112340567', N'Cobertura total y asistencia en carretera', CAST(75000.00 AS Decimal(12, 2)), CAST(N'2026-01-01' AS Date), CAST(N'2027-01-01' AS Date), 1)
INSERT [dbo].[socios_polizas] ([id_poliza], [aseguradora], [numero_poliza], [placa], [identificacion_cliente], [tipo_cobertura], [deducible], [fecha_inicio], [fecha_vencimiento], [activa]) VALUES (2, N'Protección Vehicular CR', N'POL-2026-002', N'DEF456', N'209870654', N'Daños a terceros', CAST(50000.00 AS Decimal(12, 2)), CAST(N'2026-03-15' AS Date), CAST(N'2027-03-15' AS Date), 1)
INSERT [dbo].[socios_polizas] ([id_poliza], [aseguradora], [numero_poliza], [placa], [identificacion_cliente], [tipo_cobertura], [deducible], [fecha_inicio], [fecha_vencimiento], [activa]) VALUES (3, N'Seguros Nacionales', N'POL-2024-003', N'GHI789', N'304560789', N'Cobertura contra colisión', CAST(100000.00 AS Decimal(12, 2)), CAST(N'2024-01-01' AS Date), CAST(N'2025-01-01' AS Date), 1)
SET IDENTITY_INSERT [dbo].[socios_polizas] OFF
GO
SET IDENTITY_INSERT [dbo].[socios_repuestos] ON 

INSERT [dbo].[socios_repuestos] ([id_repuesto], [proveedor], [codigo], [nombre], [marca], [precio], [existencia], [tiempo_entrega_dias], [activo]) VALUES (1, N'AutoPartes CR', N'REP-001', N'Filtro de aceite', N'Bosch', CAST(4500.00 AS Decimal(12, 2)), 25, 1, 1)
INSERT [dbo].[socios_repuestos] ([id_repuesto], [proveedor], [codigo], [nombre], [marca], [precio], [existencia], [tiempo_entrega_dias], [activo]) VALUES (2, N'Repuestos del Valle', N'REP-001', N'Filtro de aceite', N'Bosch', CAST(4200.00 AS Decimal(12, 2)), 10, 3, 1)
INSERT [dbo].[socios_repuestos] ([id_repuesto], [proveedor], [codigo], [nombre], [marca], [precio], [existencia], [tiempo_entrega_dias], [activo]) VALUES (3, N'AutoPartes CR', N'REP-002', N'Pastillas de freno delanteras', N'Brembo', CAST(28500.00 AS Decimal(12, 2)), 8, 2, 1)
SET IDENTITY_INSERT [dbo].[socios_repuestos] OFF
GO
SET IDENTITY_INSERT [dbo].[socios_vehiculos_alquiler] ON 

INSERT [dbo].[socios_vehiculos_alquiler] ([id_vehiculo], [empresa], [placa], [marca], [modelo], [anio], [categoria], [transmision], [cantidad_pasajeros], [tarifa_diaria], [deposito], [disponible]) VALUES (1, N'Movilidad Temporal CR', N'ALQ001', N'Toyota', N'Yaris', 2024, N'Economico', N'Automatica', 5, CAST(28000.00 AS Decimal(12, 2)), CAST(100000.00 AS Decimal(12, 2)), 1)
INSERT [dbo].[socios_vehiculos_alquiler] ([id_vehiculo], [empresa], [placa], [marca], [modelo], [anio], [categoria], [transmision], [cantidad_pasajeros], [tarifa_diaria], [deposito], [disponible]) VALUES (2, N'Movilidad Temporal CR', N'ALQ002', N'Toyota', N'Corolla', 2023, N'Sedan', N'Automatica', 5, CAST(35000.00 AS Decimal(12, 2)), CAST(125000.00 AS Decimal(12, 2)), 1)
INSERT [dbo].[socios_vehiculos_alquiler] ([id_vehiculo], [empresa], [placa], [marca], [modelo], [anio], [categoria], [transmision], [cantidad_pasajeros], [tarifa_diaria], [deposito], [disponible]) VALUES (3, N'RentAuto Asociados', N'ALQ003', N'Hyundai', N'Venue', 2024, N'SUV', N'Automatica', 5, CAST(45000.00 AS Decimal(12, 2)), CAST(150000.00 AS Decimal(12, 2)), 1)
SET IDENTITY_INSERT [dbo].[socios_vehiculos_alquiler] OFF
GO
SET IDENTITY_INSERT [dbo].[tarjetas_simuladas] ON 

INSERT [dbo].[tarjetas_simuladas] ([id_tarjeta], [numero_hash], [cvv_hash], [marca], [ultimos_cuatro], [titular], [banco], [fecha_vencimiento], [saldo_inicial], [saldo], [activa], [fecha_registro]) VALUES (1, 0x9BBEF19476623CA56C17DA75FD57734DBF82530686043A6E491C6D71BEFE8F6E, 0xB11640363FF73483803AFD0D8C22B4AB2A46A3E2B644EA607515BFEE86B88B02, N'VISA', N'1111', N'Cliente Tarjeta Visa Demo', N'Banco de Costa Rica', CAST(N'2030-12-31' AS Date), CAST(3000000.00 AS Decimal(12, 2)), CAST(2235000.00 AS Decimal(12, 2)), 1, CAST(N'2026-07-27T21:56:53.0000000' AS DateTime2))
INSERT [dbo].[tarjetas_simuladas] ([id_tarjeta], [numero_hash], [cvv_hash], [marca], [ultimos_cuatro], [titular], [banco], [fecha_vencimiento], [saldo_inicial], [saldo], [activa], [fecha_registro]) VALUES (2, 0x2F725BBD1F405A1ED0336ABAF85DDFEB6902A9984A76FD877C3B5CC3B5085A82, 0xA811D663B02FE299C1F804E4606F29BF9138AF27F9697A40B09078ECE9F2F6BE, N'MASTERCARD', N'4444', N'Cliente Mastercard Demo', N'Banco Nacional', CAST(N'2030-12-31' AS Date), CAST(2000000.00 AS Decimal(12, 2)), CAST(1655000.00 AS Decimal(12, 2)), 1, CAST(N'2026-07-27T21:56:53.0000000' AS DateTime2))
INSERT [dbo].[tarjetas_simuladas] ([id_tarjeta], [numero_hash], [cvv_hash], [marca], [ultimos_cuatro], [titular], [banco], [fecha_vencimiento], [saldo_inicial], [saldo], [activa], [fecha_registro]) VALUES (3, 0xADD63FAE0091C12AAAA4141964F2A4C04BCDA9090150A616DDF184AF7F085961, 0x24536312B0CF43C5A9CC458BEE31926BCD13D43FB00A6ECA51BCBBD7FD78625E, N'MASTERCARD', N'0011', N'Cliente Mastercard 2 Demo', N'BAC Credomatic', CAST(N'2030-12-31' AS Date), CAST(1500000.00 AS Decimal(12, 2)), CAST(1500000.00 AS Decimal(12, 2)), 1, CAST(N'2026-07-27T21:56:53.0000000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[tarjetas_simuladas] OFF
GO
SET IDENTITY_INSERT [dbo].[transacciones_pasarela] ON 

INSERT [dbo].[transacciones_pasarela] ([id_transaccion], [id_pago], [tipo], [estado], [monto], [codigo_autorizacion], [marca_tarjeta], [ultimos_cuatro], [telefono_sinpe], [banco], [mensaje], [fecha_transaccion], [id_tarjeta_simulada], [paypal_order_id], [moneda_externa], [monto_externo]) VALUES (3, 2, N'TARJETA', N'APROBADA', CAST(37000.00 AS Decimal(12, 2)), N'CARD-MS44ABTO-382A15', N'VISA', N'1111', NULL, N'Banco Simulado Retro', N'Tarjeta autorizada por el banco simulado.', CAST(N'2026-07-27T21:49:41.0000000' AS DateTime2), NULL, NULL, NULL, NULL)
INSERT [dbo].[transacciones_pasarela] ([id_transaccion], [id_pago], [tipo], [estado], [monto], [codigo_autorizacion], [marca_tarjeta], [ultimos_cuatro], [telefono_sinpe], [banco], [mensaje], [fecha_transaccion], [id_tarjeta_simulada], [paypal_order_id], [moneda_externa], [monto_externo]) VALUES (4, 3, N'TARJETA', N'APROBADA', CAST(159000.00 AS Decimal(12, 2)), N'CARD-MS44B8CS-53AA39', N'MASTERCARD', N'4444', NULL, N'Banco Simulado Retro', N'Tarjeta autorizada por el banco simulado.', CAST(N'2026-07-27T21:50:23.0000000' AS DateTime2), NULL, NULL, NULL, NULL)
INSERT [dbo].[transacciones_pasarela] ([id_transaccion], [id_pago], [tipo], [estado], [monto], [codigo_autorizacion], [marca_tarjeta], [ultimos_cuatro], [telefono_sinpe], [banco], [mensaje], [fecha_transaccion], [id_tarjeta_simulada], [paypal_order_id], [moneda_externa], [monto_externo]) VALUES (5, NULL, N'TARJETA', N'RECHAZADA', CAST(20000.00 AS Decimal(12, 2)), NULL, N'VISA', N'1111', NULL, N'Banco Simulado Retro', N'Transacción rechazada por el banco simulado.', CAST(N'2026-07-27T21:51:02.0000000' AS DateTime2), NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[transacciones_pasarela] OFF
GO
SET IDENTITY_INSERT [dbo].[TSE] ON 

INSERT [dbo].[TSE] ([id_persona], [identificacion], [Nombre], [Apellido], [fecha_nacimiento]) VALUES (1, 305660008, N'Pedro Sebastian', N'Navarro Marino', CAST(N'2006-06-16' AS Date))
SET IDENTITY_INSERT [dbo].[TSE] OFF
GO
SET IDENTITY_INSERT [dbo].[usuarios] ON 

SET IDENTITY_INSERT [dbo].[usuarios] OFF
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ_clientes_identificacion] Fecha de script: 27/7/2026 23:24:38 ******/
ALTER TABLE [dbo].[clientes] ADD  CONSTRAINT [UQ_clientes_identificacion] UNIQUE NONCLUSTERED 
(
	[identificacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Objeto: Index [UQ_detalles_orden_paypal_producto] Fecha de script: 27/7/2026 23:24:38 ******/
ALTER TABLE [dbo].[detalles_orden_paypal] ADD  CONSTRAINT [UQ_detalles_orden_paypal_producto] UNIQUE NONCLUSTERED 
(
	[id_orden] ASC,
	[id_producto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Objeto: Index [UQ_detalles_pago_producto] Fecha de script: 27/7/2026 23:24:38 ******/
ALTER TABLE [dbo].[detalles_pago] ADD  CONSTRAINT [UQ_detalles_pago_producto] UNIQUE NONCLUSTERED 
(
	[id_pago] ASC,
	[id_producto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ_metodos_pago_codigo] Fecha de script: 27/7/2026 23:24:38 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UQ_metodos_pago_codigo] ON [dbo].[metodos_pago]
(
	[codigo] ASC
)
WHERE ([codigo] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ_ordenes_paypal_order_id] Fecha de script: 27/7/2026 23:24:38 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UQ_ordenes_paypal_order_id] ON [dbo].[ordenes_paypal]
(
	[paypal_order_id] ASC
)
WHERE ([paypal_order_id] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Objeto: Index [UQ_ordenes_paypal_pago] Fecha de script: 27/7/2026 23:24:38 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UQ_ordenes_paypal_pago] ON [dbo].[ordenes_paypal]
(
	[id_pago] ASC
)
WHERE ([id_pago] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Objeto: Index [UQ_ordenes_paypal_referencia] Fecha de script: 27/7/2026 23:24:38 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UQ_ordenes_paypal_referencia] ON [dbo].[ordenes_paypal]
(
	[referencia_local] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ__pagos__3DC4B2416CA15F5C] Fecha de script: 27/7/2026 23:24:38 ******/
ALTER TABLE [dbo].[pagos] ADD UNIQUE NONCLUSTERED 
(
	[numero_factura] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ__producto__88CF735F10BA09F4] Fecha de script: 27/7/2026 23:24:38 ******/
ALTER TABLE [dbo].[productos] ADD UNIQUE NONCLUSTERED 
(
	[codigo_item] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ__sesiones__F572AF3A667E32C4] Fecha de script: 27/7/2026 23:24:38 ******/
ALTER TABLE [dbo].[sesiones_usuario] ADD UNIQUE NONCLUSTERED 
(
	[token_sesion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ__socios_g__0C05742510BCD463] Fecha de script: 27/7/2026 23:24:38 ******/
ALTER TABLE [dbo].[socios_gruas] ADD UNIQUE NONCLUSTERED 
(
	[placa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ__socios_p__69A28409BB6B50FE] Fecha de script: 27/7/2026 23:24:38 ******/
ALTER TABLE [dbo].[socios_polizas] ADD UNIQUE NONCLUSTERED 
(
	[numero_poliza] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ_socios_repuesto_proveedor_codigo] Fecha de script: 27/7/2026 23:24:38 ******/
ALTER TABLE [dbo].[socios_repuestos] ADD  CONSTRAINT [UQ_socios_repuesto_proveedor_codigo] UNIQUE NONCLUSTERED 
(
	[proveedor] ASC,
	[codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ__socios_v__0C05742583D4E9CE] Fecha de script: 27/7/2026 23:24:38 ******/
ALTER TABLE [dbo].[socios_vehiculos_alquiler] ADD UNIQUE NONCLUSTERED 
(
	[placa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ_tarjetas_simuladas_hash] Fecha de script: 27/7/2026 23:24:38 ******/
ALTER TABLE [dbo].[tarjetas_simuladas] ADD  CONSTRAINT [UQ_tarjetas_simuladas_hash] UNIQUE NONCLUSTERED 
(
	[numero_hash] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Objeto: Index [UQ_transacciones_pasarela_pago] Fecha de script: 27/7/2026 23:24:38 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UQ_transacciones_pasarela_pago] ON [dbo].[transacciones_pasarela]
(
	[id_pago] ASC
)
WHERE ([id_pago] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ__usuarios__2A586E0BECC3A1C8] Fecha de script: 27/7/2026 23:24:38 ******/
ALTER TABLE [dbo].[usuarios] ADD UNIQUE NONCLUSTERED 
(
	[correo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[cantones] ADD  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[categorias] ADD  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[citas] ADD  DEFAULT ('PENDIENTE') FOR [estado]
GO
ALTER TABLE [dbo].[citas] ADD  DEFAULT (getdate()) FOR [fecha_registro]
GO
ALTER TABLE [dbo].[clientes] ADD  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[clientes] ADD  DEFAULT (getdate()) FOR [fecha_registro]
GO
ALTER TABLE [dbo].[cuentas_sinpe_simuladas] ADD  CONSTRAINT [DF_cuentas_sinpe_activas]  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[cuentas_sinpe_simuladas] ADD  CONSTRAINT [DF_cuentas_sinpe_fecha]  DEFAULT (sysdatetime()) FOR [fecha_registro]
GO
ALTER TABLE [dbo].[distritos] ADD  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[metodos_pago] ADD  DEFAULT ((0)) FOR [requiere_referencia]
GO
ALTER TABLE [dbo].[metodos_pago] ADD  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[movimientos_inventario] ADD  DEFAULT (getdate()) FOR [fecha]
GO
ALTER TABLE [dbo].[ordenes_paypal] ADD  CONSTRAINT [DF_ordenes_paypal_referencia]  DEFAULT (newid()) FOR [referencia_local]
GO
ALTER TABLE [dbo].[ordenes_paypal] ADD  CONSTRAINT [DF_ordenes_paypal_servicio]  DEFAULT ((0)) FOR [monto_servicio_crc]
GO
ALTER TABLE [dbo].[ordenes_paypal] ADD  CONSTRAINT [DF_ordenes_paypal_moneda]  DEFAULT ('USD') FOR [moneda]
GO
ALTER TABLE [dbo].[ordenes_paypal] ADD  CONSTRAINT [DF_ordenes_paypal_estado]  DEFAULT ('CREANDO') FOR [estado]
GO
ALTER TABLE [dbo].[ordenes_paypal] ADD  CONSTRAINT [DF_ordenes_paypal_creacion]  DEFAULT (sysdatetime()) FOR [fecha_creacion]
GO
ALTER TABLE [dbo].[ordenes_paypal] ADD  CONSTRAINT [DF_ordenes_paypal_actualizacion]  DEFAULT (sysdatetime()) FOR [fecha_actualizacion]
GO
ALTER TABLE [dbo].[pagos] ADD  DEFAULT ('COMPLETADO') FOR [estado_pago]
GO
ALTER TABLE [dbo].[pagos] ADD  DEFAULT (getdate()) FOR [fecha_pago]
GO
ALTER TABLE [dbo].[paises] ADD  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[productos] ADD  DEFAULT ((0)) FOR [precio_venta]
GO
ALTER TABLE [dbo].[productos] ADD  DEFAULT ((0)) FOR [precio_costo]
GO
ALTER TABLE [dbo].[productos] ADD  DEFAULT ((0)) FOR [stock_actual]
GO
ALTER TABLE [dbo].[productos] ADD  DEFAULT ((0)) FOR [stock_minimo]
GO
ALTER TABLE [dbo].[productos] ADD  DEFAULT ('Unidades') FOR [unidad_medida]
GO
ALTER TABLE [dbo].[productos] ADD  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[provincias] ADD  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[recuperacion_contrasena] ADD  DEFAULT ((0)) FOR [usado]
GO
ALTER TABLE [dbo].[recuperacion_contrasena] ADD  DEFAULT (getdate()) FOR [fecha_solicitud]
GO
ALTER TABLE [dbo].[servicios] ADD  DEFAULT ((0)) FOR [precio_base]
GO
ALTER TABLE [dbo].[servicios] ADD  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[sesiones_usuario] ADD  DEFAULT (getdate()) FOR [fecha_inicio]
GO
ALTER TABLE [dbo].[sesiones_usuario] ADD  DEFAULT ((1)) FOR [activa]
GO
ALTER TABLE [dbo].[socios_gruas] ADD  DEFAULT ((1)) FOR [disponible]
GO
ALTER TABLE [dbo].[socios_polizas] ADD  DEFAULT ((0)) FOR [deducible]
GO
ALTER TABLE [dbo].[socios_polizas] ADD  DEFAULT ((1)) FOR [activa]
GO
ALTER TABLE [dbo].[socios_repuestos] ADD  DEFAULT ((0)) FOR [existencia]
GO
ALTER TABLE [dbo].[socios_repuestos] ADD  DEFAULT ((0)) FOR [tiempo_entrega_dias]
GO
ALTER TABLE [dbo].[socios_repuestos] ADD  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[socios_vehiculos_alquiler] ADD  DEFAULT ((0)) FOR [deposito]
GO
ALTER TABLE [dbo].[socios_vehiculos_alquiler] ADD  DEFAULT ((1)) FOR [disponible]
GO
ALTER TABLE [dbo].[tarjetas_simuladas] ADD  CONSTRAINT [DF_tarjetas_simuladas_activas]  DEFAULT ((1)) FOR [activa]
GO
ALTER TABLE [dbo].[tarjetas_simuladas] ADD  CONSTRAINT [DF_tarjetas_simuladas_fecha]  DEFAULT (sysdatetime()) FOR [fecha_registro]
GO
ALTER TABLE [dbo].[transacciones_pasarela] ADD  CONSTRAINT [DF_transacciones_pasarela_fecha]  DEFAULT (sysdatetime()) FOR [fecha_transaccion]
GO
ALTER TABLE [dbo].[usuarios] ADD  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[usuarios] ADD  DEFAULT (getdate()) FOR [fecha_creacion]
GO
ALTER TABLE [dbo].[usuarios] ADD  CONSTRAINT [DF_usuarios_otp_habilitado]  DEFAULT ((0)) FOR [otp_habilitado]
GO
ALTER TABLE [dbo].[usuarios] ADD  CONSTRAINT [DF_usuarios_otp_retro_habilitado]  DEFAULT ((0)) FOR [otp_retro_habilitado]
GO
ALTER TABLE [dbo].[auditoria]  WITH NOCHECK ADD  CONSTRAINT [FK_usuarios_AUDITORIA] FOREIGN KEY([id_usuario])
REFERENCES [dbo].[usuarios] ([id_usuario])
GO
ALTER TABLE [dbo].[auditoria] CHECK CONSTRAINT [FK_usuarios_AUDITORIA]
GO
ALTER TABLE [dbo].[autos]  WITH CHECK ADD  CONSTRAINT [FK_autos_clientes] FOREIGN KEY([identificacion])
REFERENCES [dbo].[clientes] ([identificacion])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[autos] CHECK CONSTRAINT [FK_autos_clientes]
GO
ALTER TABLE [dbo].[cantones]  WITH CHECK ADD  CONSTRAINT [FK_cantones_provincia] FOREIGN KEY([id_provincia])
REFERENCES [dbo].[provincias] ([id_provincia])
GO
ALTER TABLE [dbo].[cantones] CHECK CONSTRAINT [FK_cantones_provincia]
GO
ALTER TABLE [dbo].[citas]  WITH CHECK ADD  CONSTRAINT [FK_citas_cliente] FOREIGN KEY([id_cliente])
REFERENCES [dbo].[clientes] ([id_cliente])
GO
ALTER TABLE [dbo].[citas] CHECK CONSTRAINT [FK_citas_cliente]
GO
ALTER TABLE [dbo].[citas]  WITH CHECK ADD  CONSTRAINT [FK_citas_servicio] FOREIGN KEY([id_servicio])
REFERENCES [dbo].[servicios] ([id_servicio])
GO
ALTER TABLE [dbo].[citas] CHECK CONSTRAINT [FK_citas_servicio]
GO
ALTER TABLE [dbo].[clientes]  WITH CHECK ADD  CONSTRAINT [FK_clientes_distrito] FOREIGN KEY([id_distrito])
REFERENCES [dbo].[distritos] ([id_distrito])
GO
ALTER TABLE [dbo].[clientes] CHECK CONSTRAINT [FK_clientes_distrito]
GO
ALTER TABLE [dbo].[detalles_orden_paypal]  WITH CHECK ADD  CONSTRAINT [FK_detalles_orden_paypal_orden] FOREIGN KEY([id_orden])
REFERENCES [dbo].[ordenes_paypal] ([id_orden])
GO
ALTER TABLE [dbo].[detalles_orden_paypal] CHECK CONSTRAINT [FK_detalles_orden_paypal_orden]
GO
ALTER TABLE [dbo].[detalles_orden_paypal]  WITH CHECK ADD  CONSTRAINT [FK_detalles_orden_paypal_producto] FOREIGN KEY([id_producto])
REFERENCES [dbo].[productos] ([id_producto])
GO
ALTER TABLE [dbo].[detalles_orden_paypal] CHECK CONSTRAINT [FK_detalles_orden_paypal_producto]
GO
ALTER TABLE [dbo].[detalles_pago]  WITH CHECK ADD  CONSTRAINT [FK_detalles_pago_pago] FOREIGN KEY([id_pago])
REFERENCES [dbo].[pagos] ([id_pago])
GO
ALTER TABLE [dbo].[detalles_pago] CHECK CONSTRAINT [FK_detalles_pago_pago]
GO
ALTER TABLE [dbo].[detalles_pago]  WITH CHECK ADD  CONSTRAINT [FK_detalles_pago_producto] FOREIGN KEY([id_producto])
REFERENCES [dbo].[productos] ([id_producto])
GO
ALTER TABLE [dbo].[detalles_pago] CHECK CONSTRAINT [FK_detalles_pago_producto]
GO
ALTER TABLE [dbo].[distritos]  WITH CHECK ADD  CONSTRAINT [FK_distritos_canton] FOREIGN KEY([id_canton])
REFERENCES [dbo].[cantones] ([id_canton])
GO
ALTER TABLE [dbo].[distritos] CHECK CONSTRAINT [FK_distritos_canton]
GO
ALTER TABLE [dbo].[movimientos_inventario]  WITH CHECK ADD  CONSTRAINT [FK_mov_cita] FOREIGN KEY([id_cita])
REFERENCES [dbo].[citas] ([id_cita])
GO
ALTER TABLE [dbo].[movimientos_inventario] CHECK CONSTRAINT [FK_mov_cita]
GO
ALTER TABLE [dbo].[movimientos_inventario]  WITH CHECK ADD  CONSTRAINT [FK_mov_producto] FOREIGN KEY([id_producto])
REFERENCES [dbo].[productos] ([id_producto])
GO
ALTER TABLE [dbo].[movimientos_inventario] CHECK CONSTRAINT [FK_mov_producto]
GO
ALTER TABLE [dbo].[movimientos_inventario]  WITH CHECK ADD  CONSTRAINT [FK_mov_usuario] FOREIGN KEY([id_usuario])
REFERENCES [dbo].[usuarios] ([id_usuario])
GO
ALTER TABLE [dbo].[movimientos_inventario] CHECK CONSTRAINT [FK_mov_usuario]
GO
ALTER TABLE [dbo].[ordenes_paypal]  WITH CHECK ADD  CONSTRAINT [FK_ordenes_paypal_cita] FOREIGN KEY([id_cita])
REFERENCES [dbo].[citas] ([id_cita])
GO
ALTER TABLE [dbo].[ordenes_paypal] CHECK CONSTRAINT [FK_ordenes_paypal_cita]
GO
ALTER TABLE [dbo].[ordenes_paypal]  WITH CHECK ADD  CONSTRAINT [FK_ordenes_paypal_metodo] FOREIGN KEY([id_metodo])
REFERENCES [dbo].[metodos_pago] ([id_metodo])
GO
ALTER TABLE [dbo].[ordenes_paypal] CHECK CONSTRAINT [FK_ordenes_paypal_metodo]
GO
ALTER TABLE [dbo].[ordenes_paypal]  WITH CHECK ADD  CONSTRAINT [FK_ordenes_paypal_pago] FOREIGN KEY([id_pago])
REFERENCES [dbo].[pagos] ([id_pago])
GO
ALTER TABLE [dbo].[ordenes_paypal] CHECK CONSTRAINT [FK_ordenes_paypal_pago]
GO
ALTER TABLE [dbo].[ordenes_paypal]  WITH CHECK ADD  CONSTRAINT [FK_ordenes_paypal_usuario] FOREIGN KEY([id_usuario])
REFERENCES [dbo].[usuarios] ([id_usuario])
GO
ALTER TABLE [dbo].[ordenes_paypal] CHECK CONSTRAINT [FK_ordenes_paypal_usuario]
GO
ALTER TABLE [dbo].[pagos]  WITH CHECK ADD  CONSTRAINT [FK_pagos_cita] FOREIGN KEY([id_cita])
REFERENCES [dbo].[citas] ([id_cita])
GO
ALTER TABLE [dbo].[pagos] CHECK CONSTRAINT [FK_pagos_cita]
GO
ALTER TABLE [dbo].[pagos]  WITH CHECK ADD  CONSTRAINT [FK_pagos_metodo] FOREIGN KEY([id_metodo])
REFERENCES [dbo].[metodos_pago] ([id_metodo])
GO
ALTER TABLE [dbo].[pagos] CHECK CONSTRAINT [FK_pagos_metodo]
GO
ALTER TABLE [dbo].[pagos]  WITH CHECK ADD  CONSTRAINT [FK_pagos_usuario] FOREIGN KEY([id_usuario])
REFERENCES [dbo].[usuarios] ([id_usuario])
GO
ALTER TABLE [dbo].[pagos] CHECK CONSTRAINT [FK_pagos_usuario]
GO
ALTER TABLE [dbo].[productos]  WITH CHECK ADD  CONSTRAINT [FK_productos_categoria] FOREIGN KEY([id_categoria])
REFERENCES [dbo].[categorias] ([id_categoria])
GO
ALTER TABLE [dbo].[productos] CHECK CONSTRAINT [FK_productos_categoria]
GO
ALTER TABLE [dbo].[provincias]  WITH CHECK ADD  CONSTRAINT [FK_provincias_pais] FOREIGN KEY([id_pais])
REFERENCES [dbo].[paises] ([id_pais])
GO
ALTER TABLE [dbo].[provincias] CHECK CONSTRAINT [FK_provincias_pais]
GO
ALTER TABLE [dbo].[recuperacion_contrasena]  WITH CHECK ADD  CONSTRAINT [FK_recuperacion_usuario] FOREIGN KEY([id_usuario])
REFERENCES [dbo].[usuarios] ([id_usuario])
GO
ALTER TABLE [dbo].[recuperacion_contrasena] CHECK CONSTRAINT [FK_recuperacion_usuario]
GO
ALTER TABLE [dbo].[servicios]  WITH CHECK ADD  CONSTRAINT [FK_servicios_categoria] FOREIGN KEY([id_categoria])
REFERENCES [dbo].[categorias] ([id_categoria])
GO
ALTER TABLE [dbo].[servicios] CHECK CONSTRAINT [FK_servicios_categoria]
GO
ALTER TABLE [dbo].[sesiones_usuario]  WITH CHECK ADD  CONSTRAINT [FK_sesiones_usuario] FOREIGN KEY([id_usuario])
REFERENCES [dbo].[usuarios] ([id_usuario])
GO
ALTER TABLE [dbo].[sesiones_usuario] CHECK CONSTRAINT [FK_sesiones_usuario]
GO
ALTER TABLE [dbo].[transacciones_pasarela]  WITH CHECK ADD  CONSTRAINT [FK_transacciones_pasarela_pago] FOREIGN KEY([id_pago])
REFERENCES [dbo].[pagos] ([id_pago])
GO
ALTER TABLE [dbo].[transacciones_pasarela] CHECK CONSTRAINT [FK_transacciones_pasarela_pago]
GO
ALTER TABLE [dbo].[transacciones_pasarela]  WITH CHECK ADD  CONSTRAINT [FK_transacciones_pasarela_tarjeta] FOREIGN KEY([id_tarjeta_simulada])
REFERENCES [dbo].[tarjetas_simuladas] ([id_tarjeta])
GO
ALTER TABLE [dbo].[transacciones_pasarela] CHECK CONSTRAINT [FK_transacciones_pasarela_tarjeta]
GO
ALTER TABLE [dbo].[usuarios]  WITH CHECK ADD  CONSTRAINT [FK_usuarios_rol] FOREIGN KEY([id_rol])
REFERENCES [dbo].[roles] ([id_rol])
GO
ALTER TABLE [dbo].[usuarios] CHECK CONSTRAINT [FK_usuarios_rol]
GO
ALTER TABLE [dbo].[cuentas_sinpe_simuladas]  WITH CHECK ADD  CONSTRAINT [CK_cuentas_sinpe_saldo] CHECK  (([saldo]>=(0)))
GO
ALTER TABLE [dbo].[cuentas_sinpe_simuladas] CHECK CONSTRAINT [CK_cuentas_sinpe_saldo]
GO
ALTER TABLE [dbo].[cuentas_sinpe_simuladas]  WITH CHECK ADD  CONSTRAINT [CK_cuentas_sinpe_telefono] CHECK  ((NOT [telefono] like '%[^0-9]%' AND len([telefono])=(8)))
GO
ALTER TABLE [dbo].[cuentas_sinpe_simuladas] CHECK CONSTRAINT [CK_cuentas_sinpe_telefono]
GO
ALTER TABLE [dbo].[detalles_orden_paypal]  WITH CHECK ADD  CONSTRAINT [CK_detalles_orden_paypal_cantidad] CHECK  (([cantidad]>(0)))
GO
ALTER TABLE [dbo].[detalles_orden_paypal] CHECK CONSTRAINT [CK_detalles_orden_paypal_cantidad]
GO
ALTER TABLE [dbo].[detalles_orden_paypal]  WITH CHECK ADD  CONSTRAINT [CK_detalles_orden_paypal_precio] CHECK  (([precio_unitario_crc]>=(0)))
GO
ALTER TABLE [dbo].[detalles_orden_paypal] CHECK CONSTRAINT [CK_detalles_orden_paypal_precio]
GO
ALTER TABLE [dbo].[detalles_pago]  WITH CHECK ADD  CONSTRAINT [CK_detalles_pago_cantidad] CHECK  (([cantidad]>(0)))
GO
ALTER TABLE [dbo].[detalles_pago] CHECK CONSTRAINT [CK_detalles_pago_cantidad]
GO
ALTER TABLE [dbo].[detalles_pago]  WITH CHECK ADD  CONSTRAINT [CK_detalles_pago_precio] CHECK  (([precio_unitario]>=(0)))
GO
ALTER TABLE [dbo].[detalles_pago] CHECK CONSTRAINT [CK_detalles_pago_precio]
GO
ALTER TABLE [dbo].[ordenes_paypal]  WITH CHECK ADD  CONSTRAINT [CK_ordenes_paypal_estado] CHECK  (([estado]='FALLIDA' OR [estado]='CANCELADA' OR [estado]='CAPTURADA' OR [estado]='PENDIENTE' OR [estado]='CREANDO'))
GO
ALTER TABLE [dbo].[ordenes_paypal] CHECK CONSTRAINT [CK_ordenes_paypal_estado]
GO
ALTER TABLE [dbo].[ordenes_paypal]  WITH CHECK ADD  CONSTRAINT [CK_ordenes_paypal_moneda] CHECK  (([moneda]='USD'))
GO
ALTER TABLE [dbo].[ordenes_paypal] CHECK CONSTRAINT [CK_ordenes_paypal_moneda]
GO
ALTER TABLE [dbo].[ordenes_paypal]  WITH CHECK ADD  CONSTRAINT [CK_ordenes_paypal_monto_crc] CHECK  (([monto_crc]>(0)))
GO
ALTER TABLE [dbo].[ordenes_paypal] CHECK CONSTRAINT [CK_ordenes_paypal_monto_crc]
GO
ALTER TABLE [dbo].[ordenes_paypal]  WITH CHECK ADD  CONSTRAINT [CK_ordenes_paypal_monto_servicio] CHECK  (([monto_servicio_crc]>=(0)))
GO
ALTER TABLE [dbo].[ordenes_paypal] CHECK CONSTRAINT [CK_ordenes_paypal_monto_servicio]
GO
ALTER TABLE [dbo].[ordenes_paypal]  WITH CHECK ADD  CONSTRAINT [CK_ordenes_paypal_monto_usd] CHECK  (([monto_usd]>(0)))
GO
ALTER TABLE [dbo].[ordenes_paypal] CHECK CONSTRAINT [CK_ordenes_paypal_monto_usd]
GO
ALTER TABLE [dbo].[ordenes_paypal]  WITH CHECK ADD  CONSTRAINT [CK_ordenes_paypal_tasa] CHECK  (([tasa_crc_usd]>(0)))
GO
ALTER TABLE [dbo].[ordenes_paypal] CHECK CONSTRAINT [CK_ordenes_paypal_tasa]
GO
ALTER TABLE [dbo].[socios_gruas]  WITH CHECK ADD  CONSTRAINT [CK_socios_grua_capacidad] CHECK  (([capacidad_toneladas]>(0)))
GO
ALTER TABLE [dbo].[socios_gruas] CHECK CONSTRAINT [CK_socios_grua_capacidad]
GO
ALTER TABLE [dbo].[socios_gruas]  WITH CHECK ADD  CONSTRAINT [CK_socios_grua_tarifa] CHECK  (([tarifa_base]>=(0)))
GO
ALTER TABLE [dbo].[socios_gruas] CHECK CONSTRAINT [CK_socios_grua_tarifa]
GO
ALTER TABLE [dbo].[socios_gruas]  WITH CHECK ADD  CONSTRAINT [CK_socios_grua_tiempo] CHECK  (([tiempo_estimado_minutos]>=(0)))
GO
ALTER TABLE [dbo].[socios_gruas] CHECK CONSTRAINT [CK_socios_grua_tiempo]
GO
ALTER TABLE [dbo].[socios_polizas]  WITH CHECK ADD  CONSTRAINT [CK_socios_poliza_deducible] CHECK  (([deducible]>=(0)))
GO
ALTER TABLE [dbo].[socios_polizas] CHECK CONSTRAINT [CK_socios_poliza_deducible]
GO
ALTER TABLE [dbo].[socios_polizas]  WITH CHECK ADD  CONSTRAINT [CK_socios_poliza_fechas] CHECK  (([fecha_vencimiento]>=[fecha_inicio]))
GO
ALTER TABLE [dbo].[socios_polizas] CHECK CONSTRAINT [CK_socios_poliza_fechas]
GO
ALTER TABLE [dbo].[socios_repuestos]  WITH CHECK ADD  CONSTRAINT [CK_socios_repuesto_entrega] CHECK  (([tiempo_entrega_dias]>=(0)))
GO
ALTER TABLE [dbo].[socios_repuestos] CHECK CONSTRAINT [CK_socios_repuesto_entrega]
GO
ALTER TABLE [dbo].[socios_repuestos]  WITH CHECK ADD  CONSTRAINT [CK_socios_repuesto_existencia] CHECK  (([existencia]>=(0)))
GO
ALTER TABLE [dbo].[socios_repuestos] CHECK CONSTRAINT [CK_socios_repuesto_existencia]
GO
ALTER TABLE [dbo].[socios_repuestos]  WITH CHECK ADD  CONSTRAINT [CK_socios_repuesto_precio] CHECK  (([precio]>=(0)))
GO
ALTER TABLE [dbo].[socios_repuestos] CHECK CONSTRAINT [CK_socios_repuesto_precio]
GO
ALTER TABLE [dbo].[socios_vehiculos_alquiler]  WITH CHECK ADD  CONSTRAINT [CK_socios_alquiler_anio] CHECK  (([anio]>=(1990) AND [anio]<=(2100)))
GO
ALTER TABLE [dbo].[socios_vehiculos_alquiler] CHECK CONSTRAINT [CK_socios_alquiler_anio]
GO
ALTER TABLE [dbo].[socios_vehiculos_alquiler]  WITH CHECK ADD  CONSTRAINT [CK_socios_alquiler_deposito] CHECK  (([deposito]>=(0)))
GO
ALTER TABLE [dbo].[socios_vehiculos_alquiler] CHECK CONSTRAINT [CK_socios_alquiler_deposito]
GO
ALTER TABLE [dbo].[socios_vehiculos_alquiler]  WITH CHECK ADD  CONSTRAINT [CK_socios_alquiler_pasajeros] CHECK  (([cantidad_pasajeros]>(0)))
GO
ALTER TABLE [dbo].[socios_vehiculos_alquiler] CHECK CONSTRAINT [CK_socios_alquiler_pasajeros]
GO
ALTER TABLE [dbo].[socios_vehiculos_alquiler]  WITH CHECK ADD  CONSTRAINT [CK_socios_alquiler_tarifa] CHECK  (([tarifa_diaria]>=(0)))
GO
ALTER TABLE [dbo].[socios_vehiculos_alquiler] CHECK CONSTRAINT [CK_socios_alquiler_tarifa]
GO
ALTER TABLE [dbo].[tarjetas_simuladas]  WITH CHECK ADD  CONSTRAINT [CK_tarjetas_simuladas_marca] CHECK  (([marca]='MASTERCARD' OR [marca]='VISA'))
GO
ALTER TABLE [dbo].[tarjetas_simuladas] CHECK CONSTRAINT [CK_tarjetas_simuladas_marca]
GO
ALTER TABLE [dbo].[tarjetas_simuladas]  WITH CHECK ADD  CONSTRAINT [CK_tarjetas_simuladas_saldo] CHECK  (([saldo]>=(0)))
GO
ALTER TABLE [dbo].[tarjetas_simuladas] CHECK CONSTRAINT [CK_tarjetas_simuladas_saldo]
GO
ALTER TABLE [dbo].[tarjetas_simuladas]  WITH CHECK ADD  CONSTRAINT [CK_tarjetas_simuladas_saldo_inicial] CHECK  (([saldo_inicial]>=(0)))
GO
ALTER TABLE [dbo].[tarjetas_simuladas] CHECK CONSTRAINT [CK_tarjetas_simuladas_saldo_inicial]
GO
ALTER TABLE [dbo].[tarjetas_simuladas]  WITH CHECK ADD  CONSTRAINT [CK_tarjetas_simuladas_ultimos] CHECK  ((NOT [ultimos_cuatro] like '%[^0-9]%' AND len([ultimos_cuatro])=(4)))
GO
ALTER TABLE [dbo].[tarjetas_simuladas] CHECK CONSTRAINT [CK_tarjetas_simuladas_ultimos]
GO
ALTER TABLE [dbo].[transacciones_pasarela]  WITH CHECK ADD  CONSTRAINT [CK_transacciones_pasarela_estado] CHECK  (([estado]='RECHAZADA' OR [estado]='APROBADA'))
GO
ALTER TABLE [dbo].[transacciones_pasarela] CHECK CONSTRAINT [CK_transacciones_pasarela_estado]
GO
ALTER TABLE [dbo].[transacciones_pasarela]  WITH CHECK ADD  CONSTRAINT [CK_transacciones_pasarela_monto] CHECK  (([monto]>(0)))
GO
ALTER TABLE [dbo].[transacciones_pasarela] CHECK CONSTRAINT [CK_transacciones_pasarela_monto]
GO
ALTER TABLE [dbo].[transacciones_pasarela]  WITH CHECK ADD  CONSTRAINT [CK_transacciones_pasarela_tipo] CHECK  (([tipo]='PAYPAL' OR [tipo]='SINPE' OR [tipo]='TARJETA'))
GO
ALTER TABLE [dbo].[transacciones_pasarela] CHECK CONSTRAINT [CK_transacciones_pasarela_tipo]
GO
USE [master]
GO
